logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
.tea/
run/
.DS_Store
*.sw*
*.un~
smp.txt
stats.json
scripts/templates/www
scripts/config/path.config.js
src/common/env.config.js
